#
# auto-rotate the screen and pointers
# copyright 2018 Don Bowman (db@donbowman.ca)
# Licensed under Apache License, Version 2.0
#
[Unit]
Description=auto-rotate screen
After=graphical-session-pre.target
Wants=graphical-session-pre.target
BindsTo=graphical-session.target

[Service]
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/auto-rotate
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=default.target

